.MainFiltersAllContainer {
    height: 568px;
    margin-top: 80px;
    background-color: #00554A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainFiltersContainer {
    width: 1440px;
    margin: auto;
}

.MainFiltersAll {
    width: 1440px;
    height: 436px;
    background-color: white;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainFiltersForm {
    width: 88%;
    height: 348px;
    display: flexbox;
    align-items: center;
    justify-content: center;
}



.MainFiltersFormElements {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 105px);
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

.MainFiltersFormBtn {
    color: white;
    background-color: #00554A;
    border-radius: 30px;
    height: 62px;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    font-weight: 700;
    width: 390px;
    display: flex;
    align-items: center;
    border: none;

}

.MainFiltersFormBtn:hover {
    background-color: #801525;
}

.MainFiltersFormBtn img {
    margin-left: 80px;
}

.MainFiltersElement {
    display: flex;
    flex-direction: column;
    align-items: safe;
    gap: 17px;
}

.MainFiltersElementName {
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}



.MainFiltersSelect {
    color: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    height: 62px;
    font-size: 20px;
    padding: 0 10px;
    content: normal;
    font-weight: 700;
    content: "▼";
}


fieldset {
    border: none;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
}

.MainFieldset {
    bottom: 0px;
}

legend {
    margin-bottom: 17px;
}

.FieldsetFilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FieldsetFiltersLine {
    height: 3px;
    width: 23px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 40px;
}

.FieldsetFilters input {
    color: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    height: 62px;
    font-size: 20px;
    padding: 0 10px;
    content: normal;
    font-weight: 700;
    width: 150px;
}

.FieldsetFilters input::placeholder {
    color: rgba(0, 0, 0, 0.35);
    font-size: 20px;
    font-weight: 700;
}

.MainFiltersElement input::placeholder {
    color: rgba(0, 0, 0, 0.35);
    font-size: 20px;
    font-weight: 700;
}

.MainFiltersElementName span {
    margin-left: 8px;
    color: rgba(0, 0, 0, 0.35);
}


.dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    height: 62px;
    font-size: 20px;
    padding: 0 10px;
    content: normal;
    font-weight: 700;
    /* курсор-указатель для пользователя */
}

.dropdownLabel {
    position: relative;
}

.dropdown>span {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
}

.dropdown ul {
    border-radius: 20px;
    display: none;
    position: absolute;
    background: white;
    list-style-type: none;
    padding: 10px 0;
}

.dropdown:hover ul {
    font-weight: 400;
    display: block;
    /* плавное появление списка при наведении */
}

.dropdown:hover li {
    padding: 3px 0;
}

.dropdown input[type="checkbox"] {
    margin-right: 5px;
    /* добавляет пространство вокруг чекбокса */
}